<section id="verify-email">
    <h2 id="section-title">Email Verification</h2>

    <article id="section-content">
        <form action="/auth/verify" method="POST">
            <input type="number" size="6" name="enteredOTP" />
            <button type="submit">Verify OTP</button>
        </form>

        <a href="/auth/login">Login</a>
        <a href="/auth/register">Sign Up with different mailid</a>
    </article>
</section>
