<section id="signup">
    <h2 id="section-title">Sign Up</h2>

    <article id="section-content">
        <form action="/auth/signup" method="POST">
            <%- include('../partials/_loginFormFields.ejs', loggingIn=false) %>

            <button type="submit">Sign up</button>
        </form>

        <a href="/auth/login">Login</a>
    </article>
</section>
