<section id="verify-email">
    <h2 id="section-title">Email Verification</h2>

    <article id="section-content">
        <% if(email) { %>
            <pre>Kindly check the verification mail sent to <%= email %></pre>
        <% } %>
        
        <form action="/auth/verify" method="POST">
            <input type="number" min="100000" max="999999" name="enteredOTP" required/>
            <button type="submit">Verify OTP</button>
        </form>

        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Sign Up with different mailid</a>
    </article>
</section>
